main {
  display: flex;
  margin: 50px 250px 50px;
  gap: 80px;
}
.product-image .box-image {
  margin-bottom: 20px;
  /* to watch */
  display: flex;
  overflow: hidden;
  width: 400px;
  /* to watch */
}
.product-image .box-image img {
  border-radius: 15px;
  width: 400px;
}
/* FOCUS IMAGE DON'T WORK */
.product-image .thumbnail-image {
  display: flex;
  gap: 23px;
}
.product-image .thumbnail-image img {
  cursor: pointer;
  width: 80px;
  border-radius: 10px;
}
.product-image .thumbnail-image img:focus {
  border: 2px solid var(--orange);
}

.product-description {
  display: block;
  margin: 50px;
}
.product-description .name_product {
  color: var(--Dark_grayish_blue);
  margin-bottom: 10px;
  font-weight: 600;
}
.product-description h1 {
  color: var(--Very_dark_blue);
  margin-bottom: 30px;
  font-size: 36px;
}
.product-description .sneaker_description {
  color: var(--Dark_grayish_blue);
  font-size: 14px;
  margin-bottom: 20px;
}
.product-description .sneaker_price {
  color: var(--Black);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.product-description .sneaker_price small {
  background-color: var(--Black);
  color: var(--White);
  padding: 5px;
  font-size: 11px;
  border-radius: 5px;
  margin-left: 10px;
}
.product-description .regular_price {
  color: var(--Dark_grayish_blue);
  font-size: 12px;
  text-decoration: line-through;
  font-weight: 600;
  margin-bottom: 20px;
}
form {
  display: flex;
  align-items: center;
}
form input {
  width: 50px;
  height: 40px;
  background-color: var(--Light_grayish_blue);
  border-radius: 5px;
  border: none;
  color: var(--orange);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
form p {
  padding: 10px;
  background-color: var(--Light_grayish_blue);
  border: none;
  font-size: 14px;
  font-weight: 600;
}
form button {
  cursor: pointer;
  background-color: var(--orange);
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 40px;
  text-align: center;
  color: var(--Black);
  font-weight: 600;
}
form button i {
  width: 15px;
  margin-right: 10px;
}

/* Footer */
/* .attribution {
            font-size: 11px;
            text-align: center;
         }
         .attribution a {
            color: hsl(228, 45%, 44%);
         } */
